# Dependencies
node_modules

# Build outputs
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Logs
*.log

# Environment
.env
.env.local
.env.production

# Cache
.cache
